.message-section {
  flex: 1;
  overflow-y: auto;
}

.message-list .date.divider i {
  margin-right: 5px;
}

.message-list .item .text .highlight.link {
  color: #4183c4;
}

.message-list .item .text .highlight.bold {
  font-weight: bold;
}

.message-list .item .text .table.dropdown,
.message-list .item .text .table.dropdown .popup.trigger {
  max-width: 100%;
}

.message-list .item .text .table.dropdown .caption {
  overflow: hidden;
}