#sidebar .virtual-table {
	flex: 1 100 100%;
}

.filelist-browser {
	margin-bottom: 10px;
	height: calc(100% - 80px);
}

.filelist-browser .virtual-table {
	height: calc(100% - 20px) !important;
}

.filelist-browser .ui.segment {
	margin-bottom: 10px;
}

.filelist-session {
	height: 100%;
	overflow: hidden;
}