#sidebar .virtual-table {
	flex: 1 100 100%;
}

.filelist-browser, .filelist-browser .virtual-table {
	height: calc(100% - 35px);
}

#mobile-layout .filelist-browser {
	height: 100%;
}

@supports (-webkit-appearance:none) and (not (-ms-accelerator:true)) {
	/* webkit specific CSS */
	.filelist-browser {
		height: calc(100% - 95px);
	}

	#mobile-layout .filelist-browser {
		height: calc(100% - 60px);
	}
}

.filelist-browser .ui.segment {
	margin-bottom: 10px;
}

.filelist-session {
	height: 100%;
	overflow: hidden;
}