/* Layout */
#home .ui.message .content .description {
  margin-top: 15px;
}

#home .ui.message .button {
  margin-top: 10px;
}

#mobile-layout #home {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#mobile-layout #home > div {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

#mobile-layout #home .ui.message {
  margin-top: 10px;
}

#mobile-layout .react-grid-layout {
  margin-top: 0px;
  margin-bottom: 25px;
}

/* Widgets */
.react-grid-layout .widget .main.content {
  max-height: calc(100% - 45px);
  display: flex;
  overflow: hidden;
}

.react-grid-layout .widget .main.content > div {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  width: 100%;
  flex: 1;
}

.react-grid-layout .widget .header i.large.icon {
  font-size: 1.3em !important;
}

.react-grid-layout .widget .header-row {
  display: flex;
  flex: 0 0 auto !important;
}

.react-grid-layout .widget .header-row .header {
  flex: 1;
  height: 100%;
}

.react-grid-layout .widget .main.content .extra.content {
  opacity: 0.4;
}

#mobile-layout .react-grid-layout .react-grid-item {
  /* Allow touch scrolling */
  touch-action: initial !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
