#home .ui.message .content .description {
  margin-top: 15px;
}

#home .ui.message .button {
  margin-top: 10px;
}

#home .content.widget {
  max-height: calc(100% - 45px);
  display: flex;
  overflow: hidden;
}

#home .content.widget > div {
	max-height: 100%;
	max-width: 100%;
	display: flex;
	width: 100%;
	flex: 1;
}

#home .react-grid-item .header-row {
	display: flex;
	flex: 0 0 auto;
}

#home .react-grid-item .header-row .header {
	flex: 1;
	height: 100%;
}

#home .create-widget {
	max-width: 200px;
}

#home .content.widget .extra.content,
#home .content.widget .extra.content .header {
	color: rgba(0,0,0,.4);
}

#mobile-layout #home {
	max-height: 100%;
	padding-right: 25px;
	padding-left: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}