{
  "presets": [
    "react", 
    [ "es2015", { "modules": false }], 
    "stage-1"
  ],
  "plugins": [
    "transform-es2015-function-name",
    "transform-object-assign",
    "transform-react-display-name",
    "syntax-async-functions",
    "transform-regenerator",
		["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }]
  ],
  "env": {
    // only enable it when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": [
        [ "react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"],
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"],
          }]
        }]
      ],
    },
    "test": {
      // https://facebook.github.io/jest/docs/tutorial-webpack.html
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}