{
  "presets": [
    "react", 
    [ "es2015", { "modules": false }], 
    "stage-1"
  ],
  "plugins": [
    "transform-es2015-function-name",
    "transform-object-assign",
    "transform-react-display-name",
    "syntax-async-functions",
    "transform-regenerator",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }],
    ["module-resolver", {
      "root": ["./src", "./node_modules/semantic-ui-css"],
      "alias": {
        "semantic-ui": "semantic-ui-css"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ],
    },
    "test": {
      // https://facebook.github.io/jest/docs/tutorial-webpack.html
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}