.application.widget .main.content {
  display: flex;
}

.application.widget .main.content > div {
  flex-direction: column;
}

.application.widget .ui.list {
  flex-grow: 100;
}

.application.widget .button.create-widget {
  max-width: 200px;
}
