.notepad.widget .main.content {
	display: flex;
}

.notepad.widget .main.content > div {
	flex-direction: column;
}

.notepad.widget .main.content .notepad-container textarea {
	height: 100vh;
	display: block;
}