#sidebar .simple-layout {
	height: 100%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#sidebar .simple-layout > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#sidebar .simple-layout {
	height: 100%;
	padding: 20px;
}

#sidebar .simple-layout .content {
	display: flex;
	overflow-y: auto;
	margin-top: 10px;
}

#sidebar .simple-layout .content > div {
	overflow-y: auto;
}