#sidebar .simple-layout {
	height: 100%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#sidebar .simple-layout > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#sidebar .simple-layout .layout-content {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	margin-top: 10px;
	flex: 1 1 100%;
}

#sidebar .simple-layout .layout-content > div {
	overflow-y: auto;
	width: 100%;
}


#sidebar .system-log .message-list {
	width: 100%;
}

#sidebar .system-log .message-info {
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
}

#sidebar .system-log .timestamp {
	color: gray;
}

#sidebar .system-log .message-text {
	overflow: hidden;
}