.item.tab-layout .mini.label {
	margin-right: 5px;
}

.session-container.horizontal.ui.grid {
	margin: 0px !important;
}

.session-container.vertical {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.session-layout {
  flex: 100 1 0%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.session-container.vertical .menu-bar {
  justify-content: space-between;
}

.session-container.vertical .menu-bar .content-left {
  flex: 1;
  display: flex;
}

.session-container.vertical .session-header {
  display: flex;
  align-items: center;
}

.session-container.vertical .session-header > div {
  padding-left: 5px;
  width: 100%;
}

.session-container.vertical .session-header > i {
  padding-left: 10px;
}

.session-container.vertical .menu-bar {
  border-radius: 0px !important;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

#sidebar-container > div, 
.session-layout, 
.session-container.horizontal .column {
	height: 100%;
}

.session-container.horizontal .column > div {
	max-height: 100%;
}

.session-container.horizontal .menu-column .session-item {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.session-container.horizontal .menu-column .session-status {
  margin-right: 5px;
  margin-top: 3px;
}

.session-container.horizontal .menu-column {
	padding-top: 30px;
  display: flex;
  flex-direction: column;
  padding-right: 0px;
}

.session-container.horizontal .menu-column .menu {
	width: initial !important;
  overflow-y: auto;
  padding-top: 10px;
}

.session-container.horizontal .menu-column .session-item span, 
.session-layout .content span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.session-layout .sub.header,
.session-container .session-header > div span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.session-container.horizontal .menu-column .session-item .left-content {
  display: flex;
  overflow: hidden;
}

.session-container.horizontal .menu-column .ui.menu .item>.label {
	margin-left: 0px;
}