.item.tab-layout .mini.label {
	margin-right: 5px;
}

.session.horizontal.ui.grid {
	margin: 0px !important;
}

#sidebar-container > div , .session-layout, .session.horizontal.ui.grid .column {
	height: 100%;
}

.session.horizontal.grid .column > div {
	max-height: 100%;
}

.session.horizontal .session-layout > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.session.horizontal .menu-column .session-item {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.session.horizontal .menu-column .session-status {
  margin-right: 5px;
  margin-top: 3px;
}

.session.horizontal .menu-column {
	padding-top: 30px;
  display: flex;
  flex-direction: column;
  padding-right: 0px;
}

.session.horizontal .menu-column .menu {
	width: initial !important;
  overflow-y: auto;
  padding-top: 10px;
}

.session.horizontal .menu-column .session-item span, 
.session-layout .content span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.session-layout .sub.header {
  text-overflow: ellipsis;
  overflow: hidden;
}

.session.horizontal .menu-column .session-item .left-content {
  display: flex;
  overflow: hidden;
}

.session.horizontal .menu-column .ui.menu .item>.label {
	margin-left: 0px;
}