.item.tab-layout .mini.label {
	margin-right: 5px;
}

.session-container.horizontal.ui.grid {
	margin: 0px !important;
}

.session-container.vertical {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#mobile-layout .session-container.vertical {
  padding: 10px;
}

.session-container.vertical .session-item {
  min-width: 150px;
}

.session-container.vertical .session-item .count.label {
  margin-left: 10px !important;
}

.session-layout {
  flex: 100 1 0%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.session-container.vertical .menu-bar {
  justify-content: space-between;
}

.session-container.vertical .menu-bar .content-left {
  /*max-width: calc(100% - 90px);*/
  width: 100%;
}

.session-container.vertical .menu-bar .content-left > .ui.dropdown {
  float: left;
}

.session-container.vertical .session-header {
  display: flex;
  align-items: center;
}

.session-container.vertical .session-header > div,
.session-container.vertical .session-header > span {
  padding-left: 5px;
  max-width: 90%;
  padding: .82857143em 1.14285714em;
  line-height: 1.2;
}

.session-container.vertical .session-header > div:before {
  background: none !important;
}

.session-container.vertical .session-header > i {
  padding-left: 10px;
}

.session-container.vertical .session-header .ui.dropdown > i {
  margin: 0px 5px;
  /*display: none;*/
}

.session-container.vertical .menu-bar {
  border-radius: 0px !important;
  padding-bottom: 0px;
  margin-bottom: 15px;
}

#mobile-layout .session-container.vertical .menu-bar {
  margin-bottom: 10px;
}

#sidebar-container > div, 
.session-layout, 
.session-container.horizontal .column {
	height: 100%;
}

.session-container.horizontal .column > div {
	max-height: 100%;
}

.session-container .session-item {
  display: flex !important;
  justify-content: space-between;
  height: 35px;
}

.session-container .session-status {
  margin-right: 5px;
  margin-top: 3px;
}

.session-container.horizontal .menu-column {
  display: flex !important;
  flex-direction: column;
  padding-right: 0px;
}

.session-container.horizontal .menu-column .menu {
	width: initial !important;
  overflow-y: auto;
  padding-top: 10px;
  flex: 1;
}

.session-container.horizontal .menu-column .session-item span, 
/*.session-layout .header .content span,*/
.session-container.horizontal .session-header .title span,
.session-container.vertical .session-header span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.session-container .session-header .title > div {
  display: flex !important;
  width: 100%;
}

.session-layout .sub.header {
  text-overflow: ellipsis;
  overflow: hidden;
}

.session-container.horizontal .menu-column .session-item .left-content {
  display: flex;
  overflow: hidden;
}

.session-container.horizontal .menu-column .ui.menu .item > .label {
	margin-left: 0px;
}

.session-footer .info-grid {
  margin-top: 7px !important;
  font-size: small;
  color: grey;
  display: flex;
  flex: 1;
}

.session-footer .info-grid > div {
  flex: 1;
}

.session-footer .info-grid > div:last-child > div {
  float: right;
}

.session-footer .info-grid > div:only-child > div {
  float: inherit;
}

.session-footer .ui.checkbox {
  min-height: inherit !important;
}

.session-footer .divider {
  margin-top: 8px;
  margin-bottom: 0px;
}

.session-layout > .divider {
  margin-top: 10px;
  margin-bottom: 5px;
}