#sidebar {
	background-color: white;
	z-index: 10;
	width:100%;
	background-color: #1b1c1d;
	position: absolute !important; /* https://github.com/bokuweb/react-resizable-box/issues/44 */
}

#normal-layout #sidebar {
	padding: 5px 80px 5px 5px;
}

#mobile-layout #sidebar {
	padding: 50px 5px 5px 5px;
}

#mobile-layout #sidebar-container .session-container {
  padding: 10px;
}

#sidebar-container {
	height: 100%;
	background-color: white;
	border-top-left-radius: .28571429rem;
	border-bottom-left-radius: .28571429rem;
}

/* Internal class from re-resizable, causes height issues */
.sidebar-context .__resizable_base {
	display: none;
}

.animating.ui.overlay.sidebar,
.ui.visible.overlay.sidebar {
	transition: transform 250ms !important;
}

.session.new {
	flex: 100 100 0%;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	margin-top: 10px;
	padding: 1px;
}

.session.new .recents {
	flex: 100 100 0%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	overflow-y: hidden;
}

.session.new .recents .list {
	padding: 3px 5px;
	flex: 100 100 0%;
	overflow-y: auto;
	overflow-x: hidden;
}