/* SIDEBAR GENERIC START */
#sidebar {
	background-color: white;
	z-index: 10;
	width:100%;
	max-width:1000px;
	min-width:650px;
	background-color: #1b1c1d;
	padding: 10px 100px 10px 10px;
}

#sidebar-container {
	height: 100%;
	background-color: white;
	/*border-radius: .28571429rem;*/
	border-top-left-radius: .28571429rem;
	border-bottom-left-radius: .28571429rem;
}

#sidebar .sidebar-new {
	margin-bottom: 25px;
}

#sidebar .item.tab-layout .mini.label {
	margin-right: 5px;
}

#sidebar .ui.grid {
	margin: 0px !important;
}

/* SIDEBAR SESSION END */


/* SIDEBAR SESSION START */
#sidebar .tab-header h2 {
	float:left;
}

#sidebar .tab-header .button {
	float:right;
}

#sidebar .tab-header {
	margin-bottom: 15px;
	margin-top: 10px;
}

#sidebar .ui.grid, #sidebar .session-layout, #sidebar .ui.grid .column, #sidebar .ui.grid .column .segment {
	height: 100%;
}

#sidebar .session-layout {
	display: flex;
	flex-direction: column;
}

/* SIDEBAR SESSION END */



/* MESSAGE SECTION START */
#sidebar .message-view {
	clear: both;
}

#sidebar .message-view {
	flex: 100 1 0%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.message-section {
	flex:1;
	overflow-y: auto;
	margin-bottom:10px;
}

.message-view .ui.form {
	display: flex;
}

.message-view .ui.form textarea {
	resize: none;
}

.message-list {
	margin-right:10px !important;
}

#sidebar .tab-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#sidebar .tab-header .header {
    display: flex;
    align-items: center;
}

.chat-message .message-author-name {
	float: left;
}

.message-time {
	float:right;
	color: lightgray;
}

.chat-message {
	margin-top: 5px;
}

.chat-message .message-text {
	padding-top: 5px;
	clear: both;
	padding-right: 60px;
	white-space: pre;
}

.chat-message img {
	vertical-align: middle;
}

.status-message .message-text {
	font-size: small;
	color: lightgray;
	white-space: pre;
}

.status-message .message-text {
	float: left;
}

.status-message .message-time {
	font-size: small;
}

.chat-message.me .message-author-name {
	color: steelblue !important;
}

.chat-message.bot .message-author-name {
	color: darkgoldenrod !important;
}

/* MESSAGE SECTION END */

#sidebar .virtual-table {
	height: 100%;
}

.filelist-browser {
	height: 100%;
	display:flex;
	flex-direction: column;
}