/* SIDEBAR GENERIC START */
#sidebar {
	background-color: white;
	z-index: 10;
	width:100%;
	max-width:1000px;
	min-width:650px;
	background-color: #1b1c1d;
	padding: 10px 100px 10px 10px;
}

#sidebar-container {
	height: 100%;
	background-color: white;
	/*border-radius: .28571429rem;*/
	border-top-left-radius: .28571429rem;
	border-bottom-left-radius: .28571429rem;
}

#sidebar .item.tab-layout .mini.label {
	margin-right: 5px;
}

#sidebar .ui.grid {
	margin: 0px !important;
}

#sidebar-container > div , #sidebar .session-layout, #sidebar .ui.grid .column, #sidebar .ui.grid .column > div {
	height: 100%;
}

#sidebar .session-layout > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* SIDEBAR GENERIC END */


/* SIDEBAR HEADER START */
#sidebar .tab-header h2 {
	float:left;
}

#sidebar .tab-header .button {
	float:right;
}

#sidebar .tab-header {
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#sidebar .side-menu-layout .tab-header {
	margin: 10px 10px 10px 10px;
}

#sidebar .top-menu-layout .tab-header {
	margin: 10px 20px 20px 20px;
}

#sidebar .tab-header .header {
    display: flex;
    align-items: center;
}

#sidebar .header.new {
	margin-bottom: 25px;
}

/* SIDEBAR HEADER END */



/* MESSAGE SECTION START */
#sidebar .message-view {
	clear: both;
}

#sidebar .message-view {
	flex: 100 1 0%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	margin-top: 10px;
}

.message-section {
	flex:1;
	overflow-y: auto;
	margin-bottom:10px;
}

.message-view .ui.form {
	display: flex;
}

.message-view .ui.form textarea {
	resize: none;
	border-radius: .28571429rem 0 0 .28571429rem;
}

.message-view .ui.button {
	border-radius: 0 .28571429rem .28571429rem 0;
}

.message-list {
	margin-right:10px !important;
}

.chat-message .message-author-name {
	float: left;
}

.message-time {
	float:right;
	color: lightgray;
}

.chat-message {
	margin-top: 5px;
}

.chat-message .message-text {
	padding-top: 5px;
	clear: both;
	padding-right: 60px;
	white-space: pre;
}

.chat-message img {
	vertical-align: middle;
}

.status-message .message-text {
	font-size: small;
	color: lightgray;
	white-space: pre;
}

.status-message .message-text {
	float: left;
}

.message-list .message-time {
	font-size: small;
}

.chat-message.me .message-author-name {
	color: steelblue !important;
}

.chat-message.bot .message-author-name {
	color: darkgoldenrod !important;
}

/* MESSAGE SECTION END */

#sidebar .virtual-table {
}

.filelist-browser {
	height: 100%;
	display:flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.filelist-browser .ui.segment {
	margin-bottom: 10px;
}

.top-menu-layout {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.top-menu-layout .session-layout {
	/*padding: 0px 10px 10px 10px;*/
}

.top-menu-layout .menu-bar {
	border-radius: 0px !important;
	padding-bottom: 0px;
	margin-bottom: 20px;
}