.public_fixedDataTable_bodyRow.connected, .public_fixedDataTable_bodyRow.connected span {
	color: green;
}

.public_fixedDataTable_bodyRow.connecting, .public_fixedDataTable_bodyRow.connecting span {
	color: orange;
}

.public_fixedDataTable_bodyRow.disconnected, .public_fixedDataTable_bodyRow.disconnected span {
	color: black;
}

.public_fixedDataTable_bodyRow .password-column {
	margin-left: 5px;
}