.virtual-table .cell-wrapper.connected, 
.virtual-table .cell-wrapper.connected span,
.virtual-table .cell-wrapper.connected strong {
	color: green;
}

.virtual-table .cell-wrapper.connecting, 
.virtual-table .cell-wrapper.connecting span,
.virtual-table .cell-wrapper.connecting strong {
	color: orange;
}

.virtual-table .cell-wrapper.disconnected, 
.virtual-table .cell-wrapper.disconnected span,
.virtual-table .cell-wrapper.disconnected strong {
	color: dimslategray;
}