.search-container {
	width:100%;
	height: 50px;
	margin-bottom: 5px;
}

.search-container .search-area {
	width:90%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.search-area, .search-area .react-autosuggest__container {
	flex: 1;
}

.search-area, .search-area input {
	width: 100%;
}

.search-area button {
	display: inline-block !important;
}

.search-layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.search-layout .virtual-table {
	height: calc(100% - 50px);
}

@media only screen and (min-width: 767px) {
	.result.modal td {
		max-width: 250px;
	}

	/* Can't be applied to dropdown cells */
	.result.modal td:not(.user) {
		overflow-x: hidden;
	}
}

.result.modal .download.dropdown {
	max-width: 150px;
	margin-top: 10px;
}