<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no">

  <title>AirDC++ Web Client</title>
</head>

<body>
	<!-- content section -->
	<section class="ui dimmable blurring minimal" id="container-main"></section>
	
	<!-- common dimmer node for Semantic UI modals -->
	<div id="modals-node" class="ui dimmer modals"></div>
	
	<script type="text/javascript">
		function getBasePath(data) {
			const pathTokens = window.location.pathname.split('/');		
			
			// All basenames must used a fixed prefix because of URL routing
			if (pathTokens.length > 1 && pathTokens[1].indexOf('airdcpp') === 0) {		
				return '/' + pathTokens[1] + '/';		
			}		
			
			return '/';		
		}

		// We must inject the main chunk dynamically as well because the final path is not known on compile time
		var script = document.createElement('script');
		script.src = getBasePath() + "<%= htmlWebpackPlugin.files.chunks.main.entry%>";
		document.body.appendChild(script);
		
		// Favicon
		var link = document.createElement('link');
		link.type = 'image/x-icon';
		link.rel = 'shortcut icon';
		link.href = getBasePath() + '/favicon.ico';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
	
	<% if (htmlWebpackPlugin.options.googleAnalytics) { %>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-77192807-2', 'auto');
			ga('send', 'pageview');

		</script>
  <% } %>

</body>
</html>
