<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no">

  <title>AirDC++ Web Client</title>
</head>

<body>
  <!-- content section -->
  <section class="ui dimmable blurring minimal" id="container-main"></section>
	<script type="text/javascript">
		function getBasePath(data) {
			const pathTokens = window.location.pathname.split('/');		
			
			// All basenames must used a fixed prefix because of URL routing
			if (pathTokens.length > 1 && pathTokens[1].indexOf('airdcpp') === 0) {		
				return '/' + pathTokens[1] + '/';		
			}		
			
			return '/';		
		}

		// We must inject the main chunk dynamically as well because the final path is not known on compile time
		var script = document.createElement('script');
		script.src = getBasePath() + "<%= htmlWebpackPlugin.files.chunks.main.entry%>";
		document.body.appendChild(script);
	</script>
</body>
</html>
