.settings-layout .hash-database.grid {
	padding: 10px 0px 15px 0px;
}

.settings-layout .hash-database.grid .row {
	padding: 5px 0px;
}

.settings-layout .sharing.excludes .add.button {
	margin-top: 20px;
}