/*.root-table {
	margin-bottom: 20px;
}*/

.share-directories-settings .actions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.share-directories-settings .accordion {
	width: inherit !important;
}