.file-browser .table-container {
	overflow-y: auto;
	margin-top:10px;
	flex: 1;
}

.file-browser {
  display: flex;
  flex-direction: column;
	height: 100%;
}

.file-browser .create-section .button i {
	float: left;
}

.file-browser .create-section .button span {
	float: left;
}

.file-browser .table i.download.link {
	float:right;
}

.file-browser a:hover {
	cursor:pointer;
	text-decoration:underline;
}