#home .rss .content.widget {
	display: flex;
  flex-direction: column;
}

#home .rss .divided.list {
	overflow-y: auto;
	flex: 1;
}

#home .rss .divided.list .item {
	flex-shrink: 0;
}

#home .rss .divided.list .item .description {
	margin-left: 20px;
}

#home .rss .content.widget > div {
	flex-direction: column;
}