.virtual-table .cell-wrapper.status .error {
  color: red;
}

.virtual-table .cell-wrapper.paused span,
.virtual-table .cell-wrapper.paused .label {
  color: gray !important;
}

@media only screen and (min-width: 767px) {
  .source.modal td {
    max-width: 250px;
  }

  /* Can't be applied to dropdown cells */
  .source.modal td:not(.user) {
    overflow-x: hidden;
  }
}
