
.fileitem.info.segment .dupe-paths .path {
	overflow-x: hidden;
}

.fileitem.info.segment .value.column {
  word-break: break-all;
}

.fileitem.info.segment .download.ui.dropdown {
	max-width: 150px;
	margin-top: 10px;
}