.web-user.modal .ui.checkbox {
  width: 100%;
  margin-top: 5px;
}

.web-user.modal .ui.checkbox.admin {
  margin-bottom: 10px;
  font-weight: bold;
}

.settings-layout .system.logging .log-section > .active {
  background-color: whitesmoke;
}

.settings-layout .system.logging .sections {
  margin-top: 25px !important;
}
