.file-session {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.file-session .file-content {
	flex: 1;
	overflow-x: auto;
}

.file-session.nfo .file-content pre {
	font-family: "Courier New", "DejaVu Sans Mono", monospace;
	font-size: 11px;
	line-height: 12px;
	padding: 3px;
	margin: 0px;
}

.file-session img {
	max-width: 100%;
}