.settings-layout {
  padding-bottom: 30px;

  max-height: 100% !important;
  display: flex;
  flex-direction: column;
}

.content-column:not(.full-width) {
  max-width: 900px;
}

.settings-layout .menu-column .menu {
  max-width: 100%;
}

.settings-layout .settings-page-header {
	margin-bottom: 20px;
}

.settings-layout .detect-panel {
	margin-top: 30px;
}

.settings-layout .detect-panel .header.column > div {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit !important;
}

.settings-layout .detect-panel .header.column {
  max-width: 200px;
}

.settings-layout .detect-panel .detect-button {
	margin-top: 20px;
}

.settings-layout .setting-form {
  margin-top: 30px;
}

.settings-layout .setting-form:first-child {
  margin-top: 0px;
}

.settings-layout h3,
.form .header {
  /*color: #2185D0!important;*/
  margin-bottom: 20px;
}

.settings-layout h4 {
  margin-top: 15px;
}

.settings-layout .virtual-table {
  height: calc(100vh - 400px);
  min-height: 300px;
}

.settings-layout .table-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.settings-layout > div,
.settings-layout .mobile .section-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 5px;
}

.settings-grid-layout {
  overflow-y: auto;
}

.settings-layout .mobile .section-content {
  padding-bottom: 5px;
}

.settings-grid-layout .section-content {
  height: 100%;
  margin-bottom: inherit !important;
}

.settings-layout .mobile .main-header {
  display: none;
}

.settings-layout .top-menu {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.settings-layout .top-menu > .dropdown,
.settings-layout .top-menu > .dropdown > .caption {
  display: flex;
}

.settings-layout .top-menu > i {
  margin: 0px 5px;
}

.settings-layout .mobile .save.button {
  margin-bottom: 5px;
  flex-shrink: 0;
}

.settings-layout .section-content.about .grid {
  margin: 0px;
}