.settings-layout {
  padding-bottom: 30px;
  max-height: 100% !important;
  display: flex;
  flex-direction: column;
}

.settings-layout .menu-column .menu {
  max-width: 100%;
}

.settings-layout .layout.header {
	margin-bottom: 20px;
}

.settings-layout .setting-form {
  margin-top: 30px;
}

.settings-layout .setting-form:first-child {
  margin-top: 0px;
}

.settings-layout h3 {
  margin-bottom: 20px;
}

.settings-layout h4 {
  margin-top: 15px;
}

.settings-layout > div,
.settings-layout .mobile .section-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 5px;
}

.settings-layout .main.grid {
  overflow-y: auto;
  padding: 0px;
}

.settings-layout .mobile .section-content {
  padding-bottom: 5px;
}

.settings-layout .full .section-content {
  height: 100%;
  padding-bottom: 2px;
}

.settings-layout .top-menu {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.settings-layout .top-menu > .dropdown,
.settings-layout .top-menu > .dropdown > .caption {
  display: flex;
}

.settings-layout .top-menu > i {
  margin: 0px 5px;
}

.settings-layout .full .top-menu i {
  display: none;
}

.settings-layout .mobile .save.button {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.settings-layout .options > .ui.grid {
  margin: 0px;
}

.settings-layout .options > .ui.grid .section.header {
  padding-left: 1rem;
}