.path-navigation .breadcrumb {
  display: flex !important;
}

.path-navigation {
  display: flex;
  overflow: hidden;
}

.browserbar {
  display: flex;
  padding: 5px 10px !important;
}

.browserbar.overflow .path-navigation {
  justify-content: flex-end;
}

.browserbar .path-navigation .path-token a {
  margin: 3px 0px !important;
}

.browserbar .path-token.current {
  padding: 3px 5px !important;
  font-weight: 900;
  font-size: 14px;
  color: black !important;
  margin: 0px !important;
}

.browserbar.overflow .path-token.current > div {
  left: auto !important;
  right: 0 !important;
  align-items: baseline;
}

.browserbar .path-token {
  display: flex;
  align-items: baseline;
}

.browserbar .section > div {
  width: 100% !important;
}

/* 
* Max width is meant to prevent the parent directory from going off-screen
* if the currently selected directory is really long (thus preventing navigation)
* Tested with download dialog (as it was the most narrow one)
*/

.browserbar .section-caption {
  max-width: 450px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  line-height: 1.2;
}

@media (max-width: 700px) {
  .browserbar .section-caption {
    max-width: 150px;
  }
}

@media (max-width: 1000px) {
  .browserbar .section-caption {
    max-width: 200px;
  }
}
