.hub-action-prompt {
	flex-direction: column;
	align-items: flex-start !important;
}

.hub-action-prompt .header {
	margin: 0 0 1rem !important;
}

.hub.session .virtual-table {
	flex: 1;
	margin-top: 5px;
}

.hub.session .cell-wrapper.tag,
.hub.session .cell-wrapper.nick,
.hub.session .cell-wrapper.description,
.hub.session .cell-wrapper.share_size {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hub.session .cell-wrapper.nick.op {
	color: steelblue;
}

.hub.session .cell-wrapper.nick.me {
	/*color: green;*/
  margin-left: 25px;
}

.hub.session .session-footer .userlist-button > a,
.hub.session .session-footer .userlist-button > div {
  float: right;
  padding-left: 1px;
}

.hub.session .session-footer .userlist-button label {
  color: grey;
  font-size: small;
}