.hub-action-prompt {
	flex-direction: column;
	align-items: flex-start !important;
}

.hub-action-prompt .header {
	margin: 0 0 1rem !important;
}

.hub-action-prompt .help {
  margin-top: 10px;
}

.hub.session .virtual-table,
.hub.session .offline-message,
.hub.session .loader-wrapper {
	flex: 1;
	margin-top: 5px;
}

.hub.session .cell-wrapper.tag,
.hub.session .cell-wrapper.nick,
.hub.session .cell-wrapper.description,
.hub.session .cell-wrapper.share_size {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hub.session .cell-wrapper.nick.op {
	color: steelblue;
}
.hub.session .session-footer .userlist-button > a,
.hub.session .session-footer .userlist-button > div {
  /* Don't cut the shadow */
  padding-left: 1px;
  padding-bottom: 1px;
}

.hub.session .session-footer .userlist-button label {
  color: grey;
  font-size: small;
}