/* Layout */

.chat.session,
.chat.session .message-view {
	flex: 100 100 0%;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

.chat.session .message-list {
	margin: 10px 10px 10px 0px;
}


/* Composer */
.chat.session .composer {
	display: flex;
}

.chat.session .composer:focus {
	outline: none;;
}

.chat.session .composer textarea, 
.chat.session .composer textarea:focus {
	resize: none;
	border-radius: .28571429rem 0 0 .28571429rem;
	margin-left: 1px;
}

.chat.session .composer .send.button {
	border-radius: 0 .28571429rem .28571429rem 0;
	width: 45px;
	margin: 0px;
}

.chat.session .composer.large .send.button i {
	vertical-align: -webkit-baseline-middle !important;
	vertical-align: -moz-middle-with-baseline !important;
}

.chat.session .composer > .input {
	width: calc(100% - 86px);
}


/* Messages common */
.chat.session .item .time {
	float:right;
	color: lightgray;
	font-size: small;
}

.chat.session .message-list .item .text {
	flex: 1;
}


/* Chat messages */
.chat.session .chat.item {
	margin-top: 5px;
}

.chat.session .chat.item .author {
	float: left;
}

.chat.session .chat.item .text {
	padding-right: 60px;
}

.chat.session .chat.item .normal .text {
	margin-top: 5px;
	clear: both;
}

.chat.session .chat.item .third-person {
	display: flex;
}

.chat.session .chat.item .third-person .text {
	float: left;
	margin-left: 3px;
}

.chat.session .chat.item img {
	vertical-align: middle;
}

.chat.session .chat.item .third-person .author .ui.dropdown {
	margin-left: 3px;
}

.chat.session .chat.item .author .caption {
	color: steelblue !important;
}

.chat.session .chat.item.op .author .caption {
	color: darkgoldenrod !important;
}

.chat.session .chat.item.self .author .caption {
	color: black !important;
}

.chat.session .chat.item.bot .author .caption {
	color: rgba(0,0,0,.40) !important;
}


/* Status messages */
.chat.session .status.item {
	width: 100%;
  display: flex !important;
  flex-direction: row-reverse;
}

.chat.session .status.item .text {
	font-size: small;
	color: rgba(0,0,0,.50);
	float: left;
}

.chat.session .status.item i {
	display: none !important;
}

.chat.session .status.item.warning .text {
	color: orange;
}

.chat.session .status.item.error .text {
	color: red;
}