/* Layout */

.chat.session,
.chat.session .message-view {
  flex: 100 100 0%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chat.session .message-list {
  margin: 10px 10px 10px 0px;
}

.chat.session .message-view > .ui.message {
  margin: 10px 0px 0px 0px;
}


/* Composer */
.chat.session .composer {
  display: flex;
}

.chat.session .composer:focus {
  outline: none;
}

.chat.session .composer textarea, 
.chat.session .composer textarea:focus {
  resize: none;
  border-radius: .28571429rem 0 0 .28571429rem;
  margin-left: 1px;
}

.chat.session .composer .button {
  border-radius: 0 .28571429rem .28571429rem 0;
  width: 45px;
  margin: 0px;
}

.chat.session .composer.large .actions.button .caption {
  display: flex !important;
  align-items: center !important;
  opacity: 0.9;
}

#mobile-layout .chat.session .composer > .input {
  width: 100%;
}

#normal-layout .chat.session .composer > .input {
  /* Leave some empty space to the right for better styling with ugly native scrollbars (especially with Firefox) */
  width: calc(100% - 60px);
}


/* Messages common */
.chat.session .item .time {
  float:right;
  color: lightgray;
  font-size: small;
}

.chat.session .status.item > .text,
.chat.session .chat.item .left > .text {
  /* Avoid cutting text from the bottom with certain browser because of "overflow: hidden" */
  line-height: initial !important;
  
  overflow: hidden;
  white-space: pre-wrap;
  flex: 1;
}

/* Chat messages */
.chat.session .chat.item {
  margin-top: 5px;
}

.chat.session .chat.item .author {
  float: left;
}

.chat.session .chat.item .left {
  display: flex;
  flex-direction: column;
}

.chat.session .chat.item .left.third-person {
  display: flex;
}

.chat.session .chat.item .left.third-person > .text {
  float: left;
  margin-left: 3px;
}

.chat.session .chat.item img {
  vertical-align: middle;
}

.chat.session .chat.item .third-person .author .ui.dropdown {
  margin-left: 3px;
}

.chat.session .chat.item .author .caption {
  color: steelblue !important;
}

.chat.session .chat.item.op .author .caption {
  color: darkgoldenrod !important;
}

.chat.session .chat.item.self .author .caption {
  color: black !important;
}

.chat.session .chat.item.bot .author .caption {
  color: rgba(0,0,0,.40) !important;
}


/* Status messages */
.chat.session .status.item {
  width: 100%;
  display: flex !important;
  flex-direction: row-reverse;
}

.chat.session .status.item .text {
  font-size: small;
  color: rgba(0,0,0,.50);
  float: left;
}

.chat.session .status.item i {
  display: none !important;
}

.chat.session .status.item.warning .text {
  color: orange;
}

.chat.session .status.item.error .text {
  color: red;
}