.ui.segment.session-layout {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.message-view {
	clear: both;
}

.message-view,
.chat.session {
	flex: 100 100 0%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.message-section {
	flex:1;
	overflow-y: auto;
	margin-bottom:10px;
}

.message-view .composer {
	display: flex;
}

.message-view .composer textarea, .message-view .composer textarea:focus {
	resize: none;
	border-radius: .28571429rem 0 0 .28571429rem;
}

.message-view .ui.button {
	border-radius: 0 .28571429rem .28571429rem 0;
}

.message-view .ui.button i {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	vertical-align: -webkit-baseline-middle !important;
}

.message-list {
	margin-right:10px !important;
}

.chat-message .message-author-name {
	float: left;
}

.message-time {
	float:right;
	color: lightgray;
}

.chat-message {
	margin-top: 5px;
}

.status-message {
	width: 100%;
  display: flex !important;
  flex-direction: row-reverse;
}

.message-list .message-text {
	flex: 1;
	overflow: hidden;
	white-space: pre-wrap;
}

.chat-message .message-text {
	padding-right: 60px;
}

.chat-message .normal .message-text {
	margin-top: 5px;
	clear: both;
}

.chat-message .third-person {
	display: flex;
}

.chat-message .third-person .message-text {
	float: left;
	margin-left: 3px;
}

.status-message .message-text {
	font-size: small;
	color: lightgray;
	float: left;
}

.status-message.warning .message-text {
	color: orange;
}

.status-message.error .message-text {
	color: red;
}

.chat-message img {
	vertical-align: middle;
}

.message-list .message-time {
	font-size: small;
}

.chat-message .third-person .message-author-name {
	display: flex !important;
}

.chat-message .third-person .message-author-name .dropdown {
	margin-left: 3px;
}

.chat-message .message-author-name .caption {
	color: steelblue !important;
}

/*.chat-message.op .message-author-name {
	color: orange !important;
}*/

.chat-message.me .message-author-name .caption {
	color: black !important;
}

.chat-message.bot .message-author-name .caption {
	color: darkgoldenrod !important;
}