/* Add a few semantic styles manually because of different layout */

.ui.action.input .react-autosuggest__container input {
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-right-color: transparent!important;
}

.ui.input.fluid .react-autosuggest__container,
.ui.input.fluid .react-autosuggest__container input {
	width: 100% !important;
	flex-direction: column;
}

.react-autosuggest__container ul {
	position: absolute;
	padding: 0px;
	z-index: 998;
}

.react-autosuggest__container ul .description {
	padding-top: 2px;
	color: rgba(0,0,0,.7);
	font-size: small;
}