.table-footer {
	width: 100%;
	padding: 5px;
	background-color: #f6f7f8;
	background-image: -webkit-linear-gradient(#fff, #efefef);
	background-image: linear-gradient(#fff, #efefef);
	display:flex;
	align-items: center;
}

.table-footer .filter {
	margin-left: auto;
}

.fixedDataTableCellLayout_main .ui.checkbox {
	display: flex;
	justify-content: center;
}

.public_fixedDataTable_bodyRow.dupe.queue, 
.public_fixedDataTable_bodyRow.dupe.queue span,
.public_fixedDataTable_bodyRow.dupe.queue a {
	color: orange !important;
}

.public_fixedDataTable_bodyRow.dupe.share, 
.public_fixedDataTable_bodyRow.dupe.share span,
.public_fixedDataTable_bodyRow.dupe.share a,
 {
	color: deeppink !important;
}

.public_fixedDataTableCell_wrap3 {
	white-space: nowrap;
}

.public_fixedDataTable_bodyRow a i:hover {
	cursor:pointer;
}

.fixedDataTableLayout_main {
	background-color: rgba(250, 250, 250, 0.8);
}

.virtual-table {
	height: 100%;
}

.table-dropdown, .public_fixedDataTableCell_main a {
	color:black;
}

.table-dropdown:hover, .public_fixedDataTableCell_main a:hover, .file-browser a:hover {
	cursor:pointer;
}

.table-dropdown:hover span, .public_fixedDataTableCell_main a:hover, .file-browser a:hover {
	text-decoration:underline;
}

.table-dropdown i.angle.icon {
    margin: 0px;
}

.table-dropdown i.user.icon {
    margin-top: 1.3px;
}

.table-dropdown i {
	float: left;
}