#mobile-menu {
	z-index: 100 !important;
	max-width: 200px;
}

#mobile-layout .ui.site-content {
	padding-top: 60px;
	padding-bottom: 5px;
}

#mobile-layout .site-header .container {
	width: 100%;
}

#mobile-layout .site-header .right {
	display: flex;
	margin-left: auto!important;
}

#mobile-menu i.icon {
	float: none !important;
	margin: 0 .5em 0 0 !important;
}

#mobile-menu .separator {
	height: 20px;
}

#mobile-menu a.logout {
	margin: 15px auto;
}

#mobile-menu a.logout:before {
	width: 0px;
}

#mobile-menu .actions {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.download-dialog .dropdown a.item {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
}