#normal-layout .site-content,
#normal-layout .header-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	width: calc(100% - 180px);
}

#normal-layout .ui.site-content {
	padding-top: 80px;
	padding-bottom: 10px;
}

/* Sidemenu start */

#side-menu {
	position: fixed;
	top: 120px;
	right: 0px;
	width: 80px !important;
	height: auto;
	padding-bottom: 10px;
	border-top-left-radius: .28571429rem;
	border-bottom-left-radius: .28571429rem;
	background-color: #1b1c1d;
	z-index: 1000;
}

#side-menu .menu {
	height: auto !important;
	display: block !important;
	width: inherit;
}

#side-menu a.item {
	padding: 10px 8px;
}

#side-menu .item>.label {
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: .64285714rem;
}

#side-menu .ui.divider {
	margin-top: 0px;
}

#side-menu .icon-panel .touch-icons {
	text-align: center;
	margin-top: 10px;
}

/* Allows up to 3 touch icons to be displayed */
#side-menu .icon-panel .touch-icons > i {
	margin: 0px !important;
}

#side-menu .icon-panel .statistics-icons {
	margin-left: 10px;
	margin-right: auto;
	font-size: 9.5px !important;
}

/* Sidemenu end */