body {
	background: url("../background.jpg") no-repeat;
	background-size: cover;
}
.column {
  max-width: 650px;
}

section#content, .login-grid {
	height: 100%;
}

@media only screen and (min-width: 1600px) {
  .ui.container {
	width: 1527px;
	margin-left: auto !important;
	margin-right: auto !important;
  }

  .ui.grid.container {
	width: calc( 1527px  +  2em ) !important;
  }
}

.table-dropdown, .public_fixedDataTableCell_main a {
	color:black !important;
}

.table-dropdown:hover, .public_fixedDataTableCell_main a:hover {
	cursor:pointer;
}

.table-dropdown:hover span, .public_fixedDataTableCell_main a:hover {
	text-decoration:underline;
}

.table-dropdown > div {
	float: left;
}

.ui.container.main > div {
	height: 100%;
}

.download-dialog .accordion {
	max-height: 300px;
	overflow-y: auto;
}