body {
	background: url("../background.jpg") no-repeat;
	background-size: cover;
}

.login-grid .column {
  max-width: 650px;
}

#container-main {
	min-height: 400px;
}

.ui.container.main {
	height: 100%;
	padding-top: 80px;
}

section#container-main, .login-grid, #main-layout, #authenticated-app, .pusher {
	height: 100%;
}

@media only screen and (min-width: 1600px) {
  .ui.container {
	width: 1527px;
	margin-left: auto !important;
	margin-right: auto !important;
  }

  .ui.grid.container {
	width: calc( 1527px  +  2em ) !important;
  }
}

.table-dropdown, .public_fixedDataTableCell_main a {
	color:black !important;
}

.table-dropdown:hover, .public_fixedDataTableCell_main a:hover, .file-browser a:hover {
	cursor:pointer;
}

.table-dropdown:hover span, .public_fixedDataTableCell_main a:hover, .file-browser a:hover {
	text-decoration:underline;
}

.table-dropdown > div {
	float: left;
}

.ui.container.main > div {
	height: 100%;
}

.download-dialog .accordion.download-targets {
	max-height: 400px;
	overflow-y: auto;
	min-height: 200px;
}

.file-browser .table-container {
	max-height: 350px;
	overflow-y: auto;
	margin-top:10px;
	min-height: 200px;
}

.file-browser .table i.download.link {
	float:right;
}

#side-menu {
	position: fixed;
    top: 120px;
    right: 0px;
    width: 100px;
    height: auto;
	padding-bottom: 10px;
    border-top-left-radius: .28571429rem;
    border-bottom-left-radius: .28571429rem;
    background-color: #1b1c1d;
    z-index: 1000;
}

#side-menu .menu {
	height: auto !important;
	display: block !important;
}

#side-menu .mini.list {
	margin-top: 20px;
	margin-left: 15px;
	margin-right: auto;
}

/* Auto suggest */

.react-autosuggest ul {
	width:100%;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transform-origin: center top;
	-ms-transform-origin: center top;
	transform-origin: center top;
	background: #fff;
	border-radius: .28571429rem;
	box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
	border: 1px solid #d4d4d5;
	z-index: 998;
	padding:0px;
	margin:0px;
}

.react-autosuggest li {
	cursor: pointer;
	display: block;
	overflow: hidden;
	font-size: 1em;
	padding: .85714286em 1.14285714em;
	color: rgba(0,0,0,.87);
	line-height: 1.33;
	border-bottom: 1px solid rgba(34,36,38,.1);
}

.react-autosuggest ul .description {
	padding-top: 2px;
	color: rgba(0,0,0,.7);
    font-size: small;
}

.react-autosuggest__suggestion--focused, .react-autosuggest li:hover {
	background: #f9fafb;
}

#side-menu .item>.label {
	margin-left: 0px !important;
}

.ui.breadcrumb.segment {
	display:flex !important;
}