.transfers.widget .main.content > div {
	flex-direction: row;
}

.transfers.widget .main.content .section-separator {
	margin-top: 10px;
}

.transfers.widget .main.content .graph {
	flex-grow: 100;
	overflow: hidden;
}

.transfers.widget .main.content .stats {
	margin-left: 10px;
	margin-top: 0px;
	flex: 0 0 auto;
}

.transfers.widget .main.content .stats .popup.trigger {
	border-bottom: 1px dotted;
}

.limiter.popup .remove.button {
	margin-top: 5px;
}